name: (test) static build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      CARGO_TARGET_DIR: ~/.cargo-target

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Rust build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo-target
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: build
        run: cargo build
      - name: add target
        run: rustup target add x86_64-unknown-linux-musl
      - name: static build
        run: |
          TARGET_CC="cargo run cc x86_64-unknown-linux-musl" cargo build --release --target x86_64-unknown-linux-musl
